      <div class="container">
<p align="center">
<img src="Images/help.jpg" width="780" height="570" border="8" />
</p>

<a href="/" target="_self"><img STYLE="position:absolute; TOP:540px; LEFT:735px; WIDTH:160px; HEIGHT:51px" src="Images/mainbtn.jpg"></a>
<a href="powerups.html" target="_self"> <img STYLE="position:absolute; TOP:540px; LEFT:900px; WIDTH:160px; HEIGHT:51px" src="Images/powerbtn.jpg"></a>
</div>