<div id="toolbar">
<ul>
  <li><a href="/games?Map=Map.txt" target="_self"><img STYLE="position:absolute; TOP:290px; LEFT:250px; WIDTH:208px; HEIGHT:43px" src="Images/playgame.png" ></a></li>
 <li><a href="/help"target="_self"><img STYLE="position:absolute; TOP:340px; LEFT:250px; WIDTH:208px; HEIGHT:43px"src="Images/helpmenu.jpg"></a></li>
 <li><a href="/maps" target="_self"><img STYLE="position:absolute; TOP:390px; LEFT:250px; WIDTH:208px; HEIGHT:43px"src="Images/selectmaps.jpg"></a></li>
</ul>

</div>