@charset "utf-8";
/* CSS Document */

#toolbar{
	position:relative;
	margin:0 auto;
	border:solid #36F;
    width:702px;
	height:601px;
	background-image:url(../Images/main1.png);
	direction:rtl;
}

#toolbar ul{
	
	float:center;
	top:100px;
	margin:10px;
	padding:10px;
	list-style:none;
	text-align:center;
	}
	#toolbar ul li{
	
	top: 100px;
	padding:0 70px 0 70px;
	display:marker;
	}
	#toolbar ul li a{
	position:bottom center;
    top: 100px;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:40px;
	font-weight:bold;
	color:#906;
	}
	#toolbar ul li a:hover{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:#6FF;
	}